<!DOCTYPE html>
<html>
<head>
  <title>En Fuego</title>
</head>

<body>
  <form action="/login" method="post">
  <div>
    Username: <input type="text" name="username" />
  </div>
  <div>
    Password: <input type="password" name="password" />
  </div>
  <div>
    Account: <input type="text" name="account" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
  </form>
</body>
</html>